@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .checkout-section-container {
    @apply bg-white rounded p-4 border;
  }

  .checkout-section-header-active {
    @apply text-lg font-medium text-gray-900;
  }
  .checkout-section-header-disabled {
    @apply text-lg font-medium text-gray-400;
  }

  .btn-checkout-section {
    @apply w-full btn-primary;
  }

  a {
    @apply cursor-pointer;
  }
  p, h1, h2, h3, h4, h5, label {
    @apply text-gray-800;
  }
}

.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

/* lazy loading image animation styles */
.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loadable {
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

